@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Acerca de nosotros";
}
<div>
    <h4>Acerca de nosotros</h4>
    <div><a asp-controller="App" asp-action="Index">Regresar</a></div>
</div>
